body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    
}

div.to-index {
    position: fixed;
    bottom: 93%;
    left: 1%;
    background-color: blue;
}

div.to-index > a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: all 1s;
}

div.to-index > a:hover {
    opacity: 0.8;
}


#outside {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: yellow;
}

form {
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #000;
    width: 70%;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: #fff;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}

fieldset {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 20px;
}

legend {
    font-weight:bold;
}

/* Tranh viec chon het the div -> xau UI */
div + div {
    margin-top: 2em;
}

input, textarea {
    width: 220px;
    height: 20px;
    border: solid 3px black;
    resize: none;
    outline: none;
    transition: all 1s;
}

input:focus , textarea:focus{
    border: solid 3px yellowgreen;
    background-color: yellowgreen;
    opacity: 0.7;
}

h2 {
    font-size: 1.3rem;
}

div.radio-group {
    display: flex;
    justify-content: space-between;
}

ul.scoring {
    display: flex;
    width: 70%;
}

ul > li {
    list-style-type: none;
    width: 20%;
    text-align: center;
}

input[type="radio"] {
    width: 30%;
}

div.radio-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.radio-body > div {
    display: flex;
    width: 70%;
}

select {
    width: 300px;
    height: 30px;
}

.button {
    text-align: center;
}

input[type="submit"] {
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: yellowgreen;
    border: solid 1px yellowgreen;
    border-radius: 1rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

textarea {
    width: 500px;
    height: 200px;
}